@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');

:root {
  --blue: #0070f3;
  --white: #eee;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  --hover-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Baloo 2', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section-title {
  text-align: center;
  font-size: 2rem;
}

ul,
h2,
h3,
p,
h1 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.scales {
  transform: scale(1);
  transition-property: transform;
  transition-duration: 300ms;
}

.scales:hover {
  transform: scale(0.95);
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.blue-bg {
  background-color: #0070f3;
}
