.header {
  padding: 2rem;
  margin: 0;
  color: var(--white);
  text-align: center;
  background-color: var(--blue);
}

.header > p {
  font-size: 2rem;
  margin: 0 auto;
}

.header > h1 {
  margin: 0 auto;
}

.header > h3 {
  margin-bottom: 1rem;
}

.icon-link {
  scale: 1;
  cursor: pointer;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 300ms;
}

.icon-link:hover {
  transform: scale(0.95);
}
