.projects {
  background-color: var(--blue);
  color: var(--white);
  padding: 2rem;
}

.card {
  background-color: var(--white);
  text-align: center;
  padding: 1rem;
  color: black;
  border-radius: 1rem;
}

.list {
  display: grid;
  justify-items: center;
}
